<form method="post" action="/admin/admin_themes/add-themes/">

    <div class="form-group">
        <label for="title">Название темы</label>
        <input type="text" class="form-control" id="title" name="title" value="<%= title %>" placeholder="title">
    </div>

    <div class="form-group">
        <label for="questionAnswer">необходимые ответы</label>
        <input type="text" class="form-control" id="questionAnswer" name="questionAnswer" value="<%= questionAnswer %>" placeholder="questionAnswer">
    </div>
    <div class="form-group">
        <label for="">Предложенные статьи</label>
        <table>
            <thead>
            <tr>
                <th class="table-for-posts">Id на вопрос</th>
                <th class="table-for-posts">Наименование вопроса</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
            </tr>
            <% arrayOfAsks.map(function(post){ %>
                <tr>
                    <td class="table-for-posts"><%= post._id %> </td>
                    <td class="table-for-posts"><%= post.question %></td>
                </tr>
            <% }); %>
            </tbody></table>
    </div>
    <button class="btn btn-default">Добавить</button>

</form>
