<form method="post" action="/admin/admin_prices/add-prices" enctype="multipart/form-data">

    <div class="form-group">
        <label for="input-files">Файл</label>
        <input
                type="file"
                name="file"
                id="input-files"
                class="form-control-file border"
                value="<%= files %>"
        />
    </div>
    <h5>Форматы файлов: webp, pdf, msword</h5>
    <button class="btn btn-default">Добавить</button>

    <% if (errors) {%>
        <% errors.forEach(function(error) { %>
            <div class="alert alert-danger">
                <%= error.msg %>
            </div>
        <% });%>
    <% }%>

</form>

<script>

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#img").change(function() {
        readURL(this);
    });

</script>
