<form method="post" action="/admin/admin_separations/add-separations/">

    <div class="form-group">
        <label for="separation">Раздел</label>
        <input type="text" class="form-control" id="separation" name="separation" value="<%= separation %>" placeholder="separation">
    </div>

<!--    <div class="form-group">-->
<!--        <label for="documents">Необходимые документы</label>-->
<!--        <input type="text" class="form-control" id="documents" name="documents" value="<%= documents %>" placeholder="documents">-->
<!--    </div>-->

    <div class="form-group">
        <label for="">Предложенные документы</label>
            <ul class="list-without-dots">
                <% separations.forEach(function(info){ %>
                    <li>
                            <input type="checkbox" name="documents" value="<%= info._id %>" > <%= info.name %></input>
                        </li>
                <% }); %>
            </ul>
    </div>

    <button class="btn btn-default">Добавить</button>

</form>
