<form method="post" action="/admin/admin_themes/add-themes/" enctype="multipart/form-data">

    <div class="form-group">
        <label for="">title</label>
        <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="title">
    </div>

    <div class="form-group">
        <label for="">questionAnswer</label>
        <input type="text" class="form-control" name="questionAnswer" value="<%= questionAnswer %>" placeholder="questionAnswer">
    </div>

    <button class="btn btn-default">Добавить</button>

</form>
