<form method="post" action="/admin/admin_separations/add-separations/" enctype="multipart/form-data">

    <div class="form-group">
        <label for="">separation</label>
        <input type="text" class="form-control" name="separation" value="<%= separation %>" placeholder="separation">
    </div>

    <div class="form-group">
        <label for="">documents</label>
        <input type="text" class="form-control" name="documents" value="<%= documents %>" placeholder="documents">
    </div>



    <button class="btn btn-default">Добавить</button>

</form>
