<h2 class="page-title">prices</h2>
<a href="/admin/admin_prices/add-prices" class="btn btn-primary">Добавить новую prices</a>
<br><br>

<table class="table table-striped sorting">

    <thead>
    <tr class="home">
        <th>description</th>
        <th>name</th>
        <th>edit</th>
        <th>delete</th>
    </tr>
    </thead>
    <tbody>
    <% prices.forEach(function(price){ %>
        <tr>
            <td>
                  <%= price.description %>
            </td>
            <td><%= price.name %></td>

            <td><a href="/admin/admin_prices/edit-prices/<%= price._id %>">edit</a></td>
            <td><a class="confirmDeletion" href="/admin/admin_prices/delete-prices/<%= price._id %>">delete</a></td>
        </tr>
    <% }); %>
    </tbody>
</table>


