<h2 class="page-title">Тендеры</h2>
<a href="/admin/admin_tenders/add-tender" class="btn btn-primary">Добавить новое</a>
<br><br>
<% if (count > 0) { %>
<table class="table table-striped sorting">

    <thead>
      <tr class="home">
                  <th>Содержание</th>
                  <th>Редактировать</th>
                  <th>Удалить</th>
              </tr>
    </thead>
     <tbody>
            <% tenders.forEach(function(tender){ %>
            <tr>
                <td><%= tender.content %></td>

                <td><a href="/admin/admin_tenders/edit-tender/<%= tender._id %>">Редактировать</a></td>
                <td><a class="confirmDeletion" href="/admin/admin_tenders/delete-tender/<%= tender._id %>">Удалить</a></td>
            </tr>
            <% }); %>
        </tbody>
</table>
<% } else {%>
<h3 class="text-center">Нет ни одного созданного тендера</h3>
<% }%>