<table class="table table-striped sorting">

    <thead>
    <tr class="home">
        <th>Содержание</th>
        <th>Документ</th>
        <th>Скачать</th>
        <th>Удалить</th>
    </tr>
    </thead>
    <tbody>
    <% fileInfos.forEach(function(element){ %>
        <tr>
            <td><%= element.url %></td>
            <td>
                <% if (element.url === "") { %>
                   <p></p>
                <% } else {%>
                    <img style="width: 200px" class='img' id="noimage" src="<%= element.url %>" alt="document">
                <% }%>
            </td>
            <td><a href="/admin/upload/files/<%= element.name %>">скачать</a></td>
            <td><a href="/admin/upload/delete/<%= element.id %>">удалить</a></td>
        </tr>
    <% }); %>
    </tbody>
</table>