<table class="table table-striped sorting">

    <thead>
    <tr class="home">
        <th>Документ</th>
        <th>Скачать</th>
        <th>Удалить</th>
    </tr>
    </thead>
    <tbody>
    <% files.forEach(function(element){ %>
        <tr>
            <td><%= element.name %></td>
            <td><a href="/admin/upload/files/<%= element.name %>">скачать</a></td>
            <td><a href="/admin/upload/delete/<%= element.id %>">удалить</a></td>
        </tr>
    <% }); %>
    </tbody>
</table>