<div>

<h2 class="page-title">Прейскуранты</h2>
<a href="/admin/admin_prices/add-prices" class="btn btn-primary">Загрузить новый прейскурант (pdf, word)</a>
<br><br>
<% if (count > 0) { %>
<table class="table table-striped sorting">

    <thead>
    <tr class="home">
        <th>Документ</th>
        <th>Скачать</th>
        <th>Удалить</th>
    </tr>
    </thead>
    <tbody>
    <% files.forEach(price => { %>
        <tr>
            <td><p><%= price.name %></p></td>
            <td><a href="/admin/admin_prices/<%= price.name %>">Скачать</a></td>
            <td><a class="confirmDeletion" href="/admin/admin_prices/delete-prices/<%= price.id %>">Удалить</a></td>
        </tr>
    <% }); %>
    </tbody>
</table>
<% } else {%>
    <h3 class="text-center">Нет ни одного файла</h3>
<% }%>

</div>




