<h2 class="page-title">Редактирование таблицы</h2>
<a href="/admin/admin_table" class="btn btn-primary">Назад</a>
<br><br>
<form method="post" action="/admin/admin_table/edit-table/<%= id %>" >
    <div class="form-group">
        <label for="ta">Информация</label>
        <textarea class="form-control" cols="30" id="ta" rows="10" name="name" placeholder="name"><%= name %></textarea>
    </div>
    <button class="btn btn-default">Сохранить</button>
    <% if (errors) {%>
        <% errors.forEach(function(error) { %>
            <div class="alert alert-danger">
                <%= error.msg %>
            </div>
        <% });%>
    <% }%>
</form>
