<h2 class="page-title">Редактирование ифнормации услуг</h2>
<a href="/admin/admin_description" class="btn btn-primary">Назад</a>
<br><br>

<form method="post" action="/admin/admin_description/edit-description/<%= id %>" >

    <div class="form-group">
        <label for="nameDescription">Название услуги</label>
        <input type="text" class="form-control" id="nameDescription" name="nameDescription" value="<%= nameDescription %>" placeholder="nameDescription">
    </div>

    <div class="form-group">
        <label for="ta">Информация</label>
         <textarea name="inform" class="form-control" cols="30" id="ta"  rows="10" placeholder="inform"><%= inform %></textarea>

    </div>

    <button class="btn btn-default">Сохранить</button>
    <% if (errors) {%>
        <% errors.forEach(function(error) { %>
            <div class="alert alert-danger">
                <%= error.msg %>
            </div>
        <% });%>
    <% }%>
</form>
