<h2 class="page-title">edit prices</h2>
<a href="/admin/admin_prices" class="btn btn-primary">Назад ко всем prices</a>
<br><br>

<form method="post" action="/admin/admin_prices/edit-prices/<%= id %>" enctype="multipart/form-data">

    <div class="form-group">
        <label for="">document</label>
        <input type="file" class="form-control" name="description" id="img">
    </div>

    <div class="form-group">
        <label for="">name</label>
        <input type="text" class="form-control" name="name" value="<%= name %>" placeholder="name">
    </div>

    <button class="btn btn-default">Добавить</button>

    <% if (errors) {%>
        <% errors.forEach(function(error) { %>
            <div class="alert alert-danger">
                <%= error.msg %>
            </div>
        <% });%>
    <% }%>

</form>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/basic.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/dropzone.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/dropzone.js"></script>

<script>

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#img").change(function() {
        readURL(this);
    });

</script>
