<h2 class="page-title">Редактировать вопрос-ответ</h2>
<br><br>
<a href="/admin/admin_questions" class="btn btn-primary">Показать все вопросы-ответы</a>
<br><br>

<form method="post" action="/admin/admin_questions/edit-questions/<%= id %>">

    <div class="form-group">
        <label for="question">Вопрос</label>
        <input type="text" class="form-control" id="question" name="question" value="<%= question %>" placeholder="question">
    </div>

    <div class="form-group">
        <label for="ta">Ответ</label>
        <textarea type="text" class="form-control"  id="ta" name="answer" placeholder="answer"><%= answer %></textarea>
    </div>

    <button class="btn btn-default">Сохранить</button>

    <% if (errors) {%>
        <% errors.forEach(function(error) { %>
            <div class="alert alert-danger">
                <%= error.msg %>
            </div>
        <% });%>
    <% }%>
</form>