.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
section {
  width: 90%;
  margin: 0 auto !important;
}
button.btn {
  border: 1px solid red;
  color: black;
}
button.btn:hover {
  border: 1px solid red;
  color: black;
}

img.pimage {
  width: 100px;
}
div.row {
  margin-right: 0;
  margin-left: 0;
}
img.img {
  width: 70%;
}
ul.list-without-dots {
  list-style-type: none; /* Remove bullets */
}

th.th-image {
  width: 300px !important;
}
/*.div-menu {*/
/*  width: 40%;*/
/*}*/
.menu {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.body-container {
  width: 100%;
}

td.table-for-posts, th.table-for-posts {
  border: 1px solid gray;
  padding: 0.4rem;
}
.table-for-posts {
  border-collapse: collapse;
}
