<div>
    <a href="/admin/gratitude/upload" class="btn btn-primary">Загрузить новый файл (jpeg, webp, png)</a>
    <br><br>

    <% if (count > 0) { %>
    <table class="table table-striped sorting">
        <thead>
        <tr class="home">
            <th>Документ</th>
            <th>Скачать</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        <% files.forEach(function(element){ %>
            <tr>
                <td><p><%= element.name %></p></td>
                <td><p><%= element.file %></p></td>
                <td><a href="/admin/gratitude/edit-gratitude/<%= element.id %>">Отредактировать</a></td>
                <td><a href="/admin/gratitude/delete/<%= element.id %>">удалить</a></td>
            </tr>
        <% }); %>
        </tbody>
    </table>
    <% } else {%>
        <h3 class="text-center">Нет ни одного файла</h3>
    <% }%>
</div>

