<div style="width: 80%; margin: 0 auto">
    <h2 class="page-title">Информация для вкладок "Для бизнеса"</h2>
    <a href="/admin/admin-business-tabs/add-content" class="btn btn-primary">Добавить новое</a>
    <table class="table table-striped sorting">

    <thead>
    <tr class="home">

        <th>Наименование</th>
        <th>Ссылка</th>
        <th>Редактировать</th>
        <th>Удалить</th>
    </tr>
    </thead>
    <tbody>
    <% content.forEach(function(item){ %>
        <tr>
            <td><p><%= item.name %></p></td>
            <td><p><%= item.link %></p></td>
            <td><a href="/admin/admin-business-tabs/edit-content/<%= item.id %>">Редактировать</a></td>
            <td><a href="/admin/admin-business-tabs/delete-content/<%= item.id %>">Удалить</a></td>
        </tr>
    <% }); %>
    </tbody>
    </table>
</div>